.container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: white;
    }
}
